.my-custom-checkbox-styles {
    appearance: none;
    width: 14px; 
    height: 14px;
    border: 2px solid #D3DCF8; 
    border-radius: 50%;
    background-color: #D3DCF8;
    cursor: pointer; 
    display: inline-block; 
    position: relative; 
}

.my-custom-checkbox-styles:checked::after {
    content: ''; 
    display: block;
    width: 12px; 
    height: 12px;
    border-radius: 50%;
    background-color: #EA4300; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.hidden {
    display: none;
}

.swiper-button-disabled {
  pointer-events: none; 
  color : black;
  opacity: 0.9; 
}

.swiper-button-disabled rect {
    stroke: #A3A3A3 !important; 
}

.swiper-button-disabled path {
    fill: #A3A3A3 !important; 
}