@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-primary-selected: #2E78E5;
  --color-background-light: #D3DCF8;
}

@layer base {
  html {
    font-family: 'Urbanist', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}