@import "tailwindcss";
@tailwind utilities;

@layer base {
  html {
    font-family: 'Urbanist', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}